.dropdown-container {
  display: inline-block;
  margin: 0 20px 0 0;
  //border-bottom: 1px solid grey;
  padding: 3px 3px 3px 5px;
  background-color: white;
  width: 198px;
  font-size: 16px;
}

.label, .dropdown {
  display: inline-block;
}

.label {
  padding-right: 76px;
  margin: 0;
  font-size: 14px;
}

.dropdown-text {
  display: inline-block;
  margin-right: 5px;
}

.dropdown-test {
  left: 766px;
}