.productSearchFilter {
  display: block;
  margin-bottom: 20px;
}

.productSearchButton {
  margin-right: 15px;
}

.productCard.ant-card {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.coverImage {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
  img {
    width: 100%;
  }
}

.buttons {
  display: inline-block;
}