.brandLogo {
  width: 200px;
  margin: 0;
  vertical-align: middle;
}

.logoCol {
  text-align: center;
  height: 215px;
  line-height: 215px;
}

//#yamaha, #honda, #actionwheels {
//  vertical-align: middle;
//  margin: 0;
//}

//.textLogo {
//  position: relative;
//  top: 20%;
//}

#batman {
  position: relative;
  top: 10%;
}

#columbia {
  display: inline;
  vertical-align: middle;
}