.brandLogo {
  width: 250px;
  margin: 0;
  vertical-align: middle;
}

.logoCol {
  text-align: center;
  height: 215px;
  line-height: 215px;
}

#warnerbros {
  width: 200px;
}

#seascooter {
  width: 300px;
  position: relative;
  bottom: 10px;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
}