.manuals {
  margin: auto;
  width: 35%;
  position: relative;
  display: block;
  .customerServiceWhite {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.guide-dropdowns {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  left: 10%;
  display: inline-block;
}

.guide-extraHelp {
  position: relative;
  bottom: -190px;
  margin: 0 auto;
}

.guide-dropdown {
  position: relative;
  left: 29px;
  display: inline-block;
  .label {
    padding-right: 80px;
  }
}

.video-dropdown {
  position: relative;
  left: 30px;
  display: inline-block;
  margin-top: 15px;
  .label {
    padding-right: 80px;
  }
}

.user-dropdown {
  position: relative;
  left: 60px;
  display: inline-block;
  margin-top: 15px;
  .label {
    padding-right: 80px;
  }
}

