.contact {
  //text-align: center;
  padding-left: 50px;
}

.contact-form {
  margin: 0 auto;
  position: relative;
  left: 18%;
}

.customerService {
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-weight: 300;
    text-align: center;
  }
}