.youtube-icon {
  background-image: url('../../img/youtube-icon.svg');
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.assembly-btn {
  width: 25%;
  margin: 15px auto;
}